In [1]:
#IMPORT LIBRARIES
import numpy as np
import pandas as pd
import os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
from pathlib import Path
from dotenv import load_dotenv
import plotly.express as px
%matplotlib inline

In [2]:
np.random.seed(42)

In [3]:
#IMPORT DATA FOLLOWING P1_Q3 FOR THREE SECTORS/STOCKS
#Walmart, P&G, J&J. \\\
# Read the Mapbox API key
from dotenv import load_dotenv
load_dotenv()


alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# api = tradeapi.REST()
api = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')

In [4]:
len(alpaca_api_key)

20

In [5]:
len(alpaca_secret_key)

40

In [7]:
list_of_tickers = ["WMT", "JNJ", "PG","JPM", "MCD","XOM"]
# YOUR CODE HERE
# Get all Asstes
assets = api.list_assets()

# Keep only tradeable assets
tradeable = [asset for asset in assets if asset.tradable ]

In [8]:
# Create a new empty DataFrame
asset_info_df = pd.DataFrame()
asset_info_df['symbol'] = pd.Series([asset.symbol for asset in assets])

# Display the first 10 asset tickers
asset_info_df.sample(5)

     symbol
9498   GLBY
2012   CSSE
367    CRBP
9606   FIXD
4634   MRSN

In [9]:
tickers = ["WMT", "JNJ", "PG","JPM", "MCD","XOM"]

# Set timeframe to '1D'
timeframe = '1D'

# Set start and end datetimes of 1 year, between now and 365 days ago.
end_date = datetime.now()
start_date = end_date + timedelta(-88)

# Get 1 year's worth of historical data for AAPL
df = api.get_barset(
    tickers,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df

df.head()

                              JNJ                                       JPM  \
                             open    high     low   close    volume    open
time
2019-12-16 00:00:00-05:00  141.73  142.85  141.49  141.79   3378433  138.38
2019-12-17 00:00:00-05:00  143.00  144.05  142.52  143.50   6381961  137.73
2019-12-18 00:00:00-05:00  143.72  143.88  142.74  143.18   3978012  138.15
2019-12-19 00:00:00-05:00  143.89  145.88  143.61  145.35   6053480  137.76
2019-12-20 00:00:00-05:00  146.88  147.84  144.80  146.07  10594866  138.02

                                                                 ...     WMT  \
                               high       low   close    volume  ...    open
time                                                             ...
2019-12-16 00:00:00-05:00  138.8400  137.3200  137.34   7801524  ...  120.42
2019-12-17 00:00:00-05:00  138.6687  137.2300  138.16   6742896  ...  120.95
2019-12-18 00:00:00-05:00  139.0200  137.7151  138.07   7422871  ...  121.51
2019-12-19 00:00:00-05:00  138.2200  137.1000  137.35   6637532  ...  119.94
2019-12-20 00:00:00-05:00  138.8800  136.9000  137.24  16546366  ...  121.48

                                                                XOM           \
                               high     low   close   volume   open     high
time
2019-12-16 00:00:00-05:00  121.3498  120.42  120.55  3026403  69.70  70.2500
2019-12-17 00:00:00-05:00  121.7000  120.70  121.28  3425196  69.98  70.3800
2019-12-18 00:00:00-05:00  121.6800  119.84  119.87  3583580  69.63  70.2900
2019-12-19 00:00:00-05:00  120.5050  119.78  120.05  2882602  69.99  70.0500
2019-12-20 00:00:00-05:00  122.1200  120.02  120.29  6628305  69.86  70.2267


                             low    close    volume
time
2019-12-16 00:00:00-05:00  69.70  69.9296   9886271
2019-12-17 00:00:00-05:00  69.31  69.6600  10993633
2019-12-18 00:00:00-05:00  69.28  69.8750   9061331
2019-12-19 00:00:00-05:00  69.24  69.3800   8474644
2019-12-20 00:00:00-05:00  69.39  69.9400  22033157

[5 rows x 30 columns]

In [10]:
df.drop(columns=['open', 'high', 'low', 'volume'], level=1, inplace=True)
df.head()

                              JNJ     JPM     MCD      PG     WMT      XOM
                            close   close   close   close   close    close
time
2019-12-16 00:00:00-05:00  141.79  137.34  197.85  125.55  120.55  69.9296
2019-12-17 00:00:00-05:00  143.50  138.16  196.50  125.28  121.28  69.6600
2019-12-18 00:00:00-05:00  143.18  138.07  195.75  124.01  119.87  69.8750
2019-12-19 00:00:00-05:00  145.35  137.35  197.05  124.91  120.05  69.3800
2019-12-20 00:00:00-05:00  146.07  137.24  197.16  125.37  120.29  69.9400

In [3]:
#CALCULATE PERCENTAGE_CHANGE

In [4]:
#CALCULATE PORTFOLIO RETURNS / ROLLING STATSTICS TO ANALYSE PERFORMANCE

In [5]:
#CALCULATE VOLATITLITY
# volatitily = std
# first percent change

In [6]:
# Save the last day's closing price

In [7]:
# Setup the Monte Carlo Parameters

In [ ]:
#FINAL EVALUATION: WHERE WILL THIS PORTFOLIO NET OUT?